<h2>These are the available Questions</h2>

<p *ngIf="!questions"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="questions">
  <thead>
    <tr>
      <th>favorite</th>
      <th>Questions</th>
      <th>Answers</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questions">
      <td><button class="btn-primary btn" id="{{ question.questionId }}_save_button" (click)="addQuestion(questions.value, answers.vale)">Save</button></td>
      <td #questions >{{ question.questions }}</td>
      <td id="{{ question.questionId }}" answer="false" width="400px" #answers>Click the show button to view the answer!</td>
      <td><button (click)="show(question.questionId)" id="{{ question.questionId }}_button" class="btn-primary btn">show</button></td>
      <td><button (click)="dueces(question.questionId)" class="btn-primary btn">Delete</button></td>

    </tr>

  </tbody>
</table>
